@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&family=Poppins:wght@200;400&family=Rubik:ital,wght@0,300;0,400;0,800;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(anas-alshanti-feXpdV001o4-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.countdown-container{
    display: flex;
}
.big-text{
    font-size: 4rem;
}
.tittle{
    margin: 10px;
    text-align: center;
    color: #fff;
    width: 100%;
    letter-spacing: 2px;
    font-size: 3rem;
    line-height: 5.5rem;
}
.wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}
.countdown-container >div{
    margin: 0 2rem;
    align-items: center;
    border: 2px solid white;
    padding: 0 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px;
    color: #fff;
    box-sizing: border-box;

}

@media (max-width:992px){
    .countdown-container >div{ 
        margin: 0 1rem;
    }
}
@media (max-width:992px){
    .countdown-container{ 
        flex-wrap: wrap;
    }
    .countdown-container >div{ 
        margin:1rem auto;
        min-width: 150px;

    }
    .tittle{
        font-size: 1.5rem;
        line-height: 3.5rem;
        margin: 10px 0px;
    }
    .tittle span{
        font-size: 2rem;
        letter-spacing: 1rem;
    }

}